<!-- <h1>HEADING</h1>

<button class="btn btn-primary">Hello</button> -->


<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Simple Rocket</h1>
    <p>Please enter your information below</p>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6">
      <app-user-form></app-user-form>
    </div>


    <div class="col-xs-6 col-md-6 col-lg-6">
      <div class="row">
        <!-- <div *ngFor="let item of itemsArray"> -->
          <app-user-options *ngFor="let item of itemsArray" [userOption]="item" class="col-md-6 col-xs-6 col-sm-6 col-lg-6"></app-user-options>
          <!-- <app-user-options class="col-md-6 col-xs-6 col-sm-6 col-lg-6"></app-user-options>
          <app-user-options class="col-md-6 col-xs-6 col-sm-6 col-lg-6"></app-user-options> -->
        <!-- </div> -->
      </div>
    </div>


  </div>

</div>