
<div class="container">
  <form #userDetails="ngForm">
    <div class="form-group">
      <label>First Name</label><br>
      <input type="text" required class="form-control" ng-class="{'has-error': firstName.length >30 && firstNameField.touched }"
       maxlength="30" #firstNameField="ngModel" name="firstName" placeholder="First Name" [(ngModel)]="firstName"/>
      <small>Max 30 characters</small>
      <span class="alert alert-danger" *ngIf="((firstName.length > 30 || firstName.length == 0) && firstNameField.touched)">
        <small>name cannot be more than 30 characters </small>
      </span>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" required class="form-control" ng-class="{'has-error': lastName.length >30 && lastNameField.touched }" 
      maxlength="30" #lastNameField="ngModel" name="lastName" placeholder="Last Name" [(ngModel)]="lastName"/>
      <small>Max 30 Characters</small>
      <span class="alert alert-danger" *ngIf="lastName.length>30 && lastNameField.touched">
        <small>First Name cannot be empty.</small></span>
    </div>

    <div class="form-group">
      <label>Credit Score</label>
      <input type="number" required class="form-control" #creditScoreEntered=ngModel name="creditScore" max="850" min="1" placeholder="770" [(ngModel)]="creditScore"/>
      <small>Number between 1 and 850</small>
      <span class="alert alert-danger" *ngIf="(creditScore < 1 || creditScore > 850) && creditScoreEntered.touched ">Credit score must be between 1 and 850.</span>
    </div>

    <div class="form-group">
      <label>Annual Income</label>
      <input type="number" required class="form-control" #annualIncomeEntered=ngModel name="annualIncome" min="1" placeholder="100000000" [(ngModel)]="annualIncome"/>
      <small>Number greater than 0.</small>
      <span class="alert alert-danger" *ngIf="annualIncome<=0 && annualIncomeEntered.touched">Number greater than 0</span>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" [disabled]="!userDetails.form.valid" type="submit" (click)="userDidEnterDetails(userDetails)">Submit</button>
    </div>
    
  </form>
</div>