<!-- <p>
  user-options works!
</p>

<div class="container">
  <p>User Options component</p>
  <p>User Options component</p>
  <p>User Options component</p>
  <p>User Options component</p>
  <p>User Options component</p>
  <p>User Options component</p>
  <p>User Options component</p>
  <p>User Options component</p>
  <p>User Options component</p>
</div> -->

<!-- <div class="col-xs-3 col-md-3 col-lg-3"> -->

  <!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
  <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ orgName }}</h5>
        <p class="card-text">{{ interestRate }}</p>
        <button class="btn btn-primary" (click)="productHasBeenSelected()">Select Product</button>
      </div>
    </div>
<!-- </div> -->